<style type="text/css">
        *{
            margin: 0px;
        }
        #top-left{
            padding-top: 5px;
            padding-left: 7px;
            box-sizing: border-box;
        }
        #top-right{
            height: 60px;
            width: 95%;
            background-color: #4c99c1;
            float: right;
            position: absolute;
            top: 0px;
            left: 67px;
        }
        #top-right #genius{
            color:white;
            transition:0s;
        }
        #top-right font{
            color: white;
            display: block;
            font-size: 38px;
            margin-top: 5px;s
            margin-left: 10px;
        }
        #top-right p{
            width: 550px;
            height: 30px;
            color: black;;
            display: block;
            font-size: 18px;
            float: right;
            margin-top: -40px;
        }
        #top-right b{
            color: black;
        }
        #top-right span{
            width: 250px;
            height: 30px;
            display: block;
            font-size: 16px;
            float: right;
        }
        #top-right a{
            text-decoration: none;
            color: black;
            transition:0.5s;
        }
        #top-right a:hover { color:red; }
        #main{
            width: 1365px;
            height: 600px;
            background:url(images/commonBackground.jpg) no-repeat;
            border: 0.1px solid #fff96b;
        }
        #main .title{
            width: 1365px;
            height: 110px;
            padding: 5px;
            box-sizing: border-box;
            background:url(images/user-bg.png);
        }
        #main .title .user{
            width: 800px;
            height: 83px;
            margin: 0px auto;

        }
        #main .title .user b{
            display: block;
            width: 180px;
            height: 29px;
            color: black;
            line-height: 29px;
            position: relative;
            left:100px;
            top: -80px;
      
        }     
        #main .title .title-right{
            width: 330px;
            height: 79px;
            position: relative;
            top: -110px;
            left: 450px;
        
        }
        #main .title .title-right table{
            display: block;
            height:60px;
            width: 5px;
            border-color:white;
            border-left-style:solid;
            border-width:1px
            position: absolute;
            left:1100px;
            top: -10px;
        }
        #main .title .title-right p{
            display: block;
            width: 321px;
            height: 76px;
            color: white;
            line-height: 40px;
            float: right;
            margin-top: -60px;
            font-size: 20px;

        }
        #main .title .user .appear{
            background-color: #5670e0;
     
        }
        #main .content{
            width: 820px;
            height: 500px;
            margin: 0px auto;
            margin-top: -20px;
            background-color: white;
            border-radius: 5px;
            border: 1px solid #dedede;
        }
        #main .content .content-top{
            width: 820px;
            height: 45px;
        }
        
        #main .content .content-top ul{
            margin-top: -90px;
            float: left;

        }
        #main .content .content-top li{
            width: 128px;
            height: 40px;
            float: left;
            list-style: none;
            transition:0.5s;
        }
        #main .content .content-top  a{
           color: #99bcf8;
           font-size:16px;
           text-decoration:none;
           transition:0.5s;
        }
        #main .content .content-top  a:hover { color:red; }
        #main .content .content-cal {
            width:820px;
            height:37px;
        }
        #main .content .cal-right{
            width:65px;
            height:33px;
            float:right;
            margin-right:20px;
            margin-top:-50px;
        }
        #main .content .content-show{
            width:780px;
            height:40px;
            margin:0px auto;
            margin-top:40px;
            text-align: center;
            line-height: 40px;
            font-weight: bolder;
            color: blue;
        }
        #main .content .content-center{
            width:780px;
            height:150px;
            margin:0px auto;
            margin-top:0px;
        }
        #main .content .content-center .balance{
            width:780px;
            height:393px;
            float:left;
        }
        #main .content .content-center .balance .p{
    	    display:block;
    	    width:450px;
    	    height:40px;
            margin:0px auto;
            margin-top:20px;
            text-align:center;
            font-size:18px;
            color:black;
            font-weight:bolder;
        }
        #main .content .content-center .balance span{
        	color:red;
        	font-size:22px;
        }
        #main .content .content-center .balance a{
        	display:block;
        	width:120px;
        	height:30px;
        	color:black;
        	text-align:center;
        	line-height:30px;
        	font-size:18px;
        	font-weight:bolder;
        	background-color:#6ff4cb;
        	text-decoration:none;
        	margin-top:40px;
        	margin:0px auto;
        	transition:0.5s;
        }
        #main .content .content-center .balance a:hover { color:red; }
        #chart {
            width: 150px;
            height: 600px;
            position: absolute;
            top: 60px;
            right: 0px;
            float: right;
            background-color: white;
            border-radius: 4px;
            opacty

        }
        #chart .chartTop{
            width: 150px;
            height: 32px;
            margin-top: 5px;  
        }
        #chart .chartTop button{
        	width:30px;
        	height:33px;
        	background-color:white;
        	margin-left:3px;
        	border:white;
        }
        #chart .chartTop #addFriend{
            margin-left:-5px;
        }
        #chart .chartTop input{
            display:block;
            width: 108px;
            height: 21px;
            margin-top:-30px;
            margin-left:33px;
        }
        #chart .chartMsg{         
            color:red;
            margin-top:5px;
        }
        #chart .myFriends{
            width:150px;
            height:500px;
        }
        #chart .myFriends a{
            text-decoration:none;
            color:black;
        }
        #chart .chartBottom{
            width: 150px;
            height: 35px;
        }
        #chart .chartBottom .friend{
            margin-left: 30px;
            float: left;
        }
        #chart .chartBottom .email{
            margin-right: 30px;
            float: right;
        }
    </style>